/*slide-in animation*/
@keyframes slideInRight {
    from{
        transform: translateX(-50%);   
    }
    to{
        transform: translateX(0%);
    }  
}

@keyframes slideInLeft {
    from{
        transform: translateX(110%);   
    }
    to{
        transform: translateX(0%);
    }  
}

/* fade animation */
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.container{
    margin-left: 0%;
    margin-right: 0%;
    height: 175px;
}

.logo{
    padding-top: 0px;
    padding-bottom: 0px;
    margin-left: 0%;
    margin-top: 1%;
    overflow-y: hidden;

    
}
.menu{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: -5%;
    padding-top:5px;
    background-color: white;
    text-align: center;    
    overflow-y: hidden;

    
}
.box1{
    padding-top: 100px;
    margin-left: 15%;
    margin-right: 15%;
    /* line height */
    line-height: 3em;
    overflow-y: hidden;
    overflow-x:hidden;
}
.name{
    margin-left: 0px;
    margin-right: 850px;
    margin-top: 120px;
    text-align: left;
    /* fade animation */
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
}
.lines{
    padding-top: 70px;
    margin-left: 40%;
    margin-right: -10%;
    height:7px;
    align-content: right;
    animation: slideInLeft 1.3s ease-in-out;
}

.calculate{
    margin-left:0%;
    margin-right:0%;
    margin-top:5%;
    margin-bottom:5%;
    height:600px;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-gap: 20px; 
    overflow-y: hidden;
}
.calc_img{
    margin-left:10%;
    margin-right:55%;
    margin-top: 20%;
    margin-bottom:20%;
    height:375px;
    width:375px;
    filter: drop-shadow(20px 20px 20px rgb(162, 162, 162));
    overflow-y: hidden;
    border-radius: 15px;
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
}
.calc_txt{
    margin-left:45%;
    margin-top: 26%;
    margin-bottom:20%;
    width: 500px;
    overflow-y: hidden;
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
    text-align: left;

}

.explore{
    margin-left:0%;
    margin-right:0%;
    margin-top:-5%;
    margin-bottom:5%;
    height:600px;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-gap: 20px; 
    overflow-y: hidden;

}
.expl_txt{
    margin-left:10%;
    margin-right:55%;
    margin-top: 27%;
    margin-bottom:20%;
    width: 500px;
    overflow-y: hidden;
    text-align: left;

}
.expl_img{
    margin-left:45%;
    margin-top: 26%;
    margin-top: 20%;
    margin-bottom:20%;
    height:375px;
    width:375px;
    border-radius: 15px;
    filter: drop-shadow(20px 20px 20px rgb(162, 162, 162));
    overflow-y: hidden;
}

.write{
    margin-left:0%;
    margin-right:0%;
    margin-top:-5%;
    margin-bottom:5%;
    height:600px;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-gap: 20px; 
    overflow-y: hidden;

}
.write_img{
    margin-left:10%;
    margin-right:55%;
    margin-top: 20%;
    margin-bottom:20%;
    border-radius: 15px;
    height:375px;
    width:375px;
    filter: drop-shadow(20px 20px 20px rgb(162, 162, 162));
    overflow-y: hidden;
}
.write_txt{
    margin-left:45%;
    margin-top: 23%;
    margin-bottom:20%;
    width: 500px;
    overflow-y: hidden;
    text-align: left;
}

.entertain{
    margin-left:0%;
    margin-right:0%;
    margin-top:-5%;
    margin-bottom:5%;
    height:600px;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-gap: 20px; 
    overflow-y: hidden;


}
.entertain_txt{
    margin-left:10%;
    margin-right:55%;
    margin-top: 30%;
    margin-bottom:20%;
    width: 500px;
    overflow-y: hidden;
    text-align: left;
}

.entertain_img{
    margin-left:45%;
    margin-top: 26%;
    margin-top: 20%;
    margin-bottom:20%;
    border-radius: 15px;
    height:375px;
    width:375px;
    filter: drop-shadow(20px 20px 20px rgb(162, 162, 162));
    overflow-y: hidden;
}

.peak{
    margin-left:10%;
    margin-right:55%;
    margin-top: 0%;
    margin-bottom:10%;
    width: 500px;
    overflow-y: hidden;
}

.peak_images{
    margin-left:0%;
    margin-right:0%;
    margin-top:-15%;
    margin-bottom:5%;
    height:800px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    overflow-y: hidden;
}

.peak_img1{
    margin-left:30%;
    margin-top: 20%;
    margin-bottom:50%;
    border-radius: 8px;
    height:550px;
    width:350px;
    filter: drop-shadow(20px 20px 20px rgb(162, 162, 162));
    overflow-y: hidden;
}

.peak_img2{
    margin-left:14.5%;
    margin-top: 20%;
    margin-bottom:20%;
    border-radius: 8px;
    height:550px;
    width:350px;
    filter: drop-shadow(20px 20px 20px rgb(162, 162, 162));
    overflow-y: hidden;
}

.peak_img3{
    margin-left:0%;
    margin-top: 20%;
    margin-bottom:20%;
    border-radius: 8px;
    height:550px;
    width:350px;
    filter: drop-shadow(20px 20px 20px rgb(162, 162, 162));
    overflow-y: hidden;
}

.about_spave{
    margin-left:20%;
    margin-right:20%;
    margin-top: 5%;
    margin-bottom:5%;
    overflow-y: hidden;
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
    text-align: right;
}

.math_on_us{
    margin-left:20%;
    margin-right:20%;
    margin-top: 5%;
    margin-bottom:5%;
    overflow-y: hidden;
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
    text-align: right;
}


.less_is_more{
    margin-left:20%;
    margin-right:20%;
    margin-top: 5%;
    margin-bottom:5%;
    overflow-y: hidden;
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
    text-align: left;
}

.in_one_place{
    margin-left:20%;
    margin-right:20%;
    margin-top: 5%;
    margin-bottom:5%;
    overflow-y: hidden;
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
    text-align: left;
}

.download_txt{
    margin-left:20%;
    margin-right:20%;
    margin-top: 2%;
    margin-bottom:3%;
    height:100px;
    overflow-y: hidden;
    text-align: center;
    padding-bottom: 50px;
}

.app_img{
    margin-left:40%;
    margin-bottom:10%;
    overflow-y: hidden;
    width: 250px;
    height:250px;
    filter: drop-shadow(20px 20px 20px rgb(162, 162, 162));
    border-radius: 20px;
    background-color: white;
    display:flex;
    align-items: center;
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3s;
    -o-animation: fadeIn 3s;
    -ms-animation: fadeIn 3s;
}
.policy{

    margin-left:10%;
    margin-right:10%;
    height:650px;
    margin-top:5%;
    overflow-y: scroll;
    
}


/* text */
/* left line */
header{
    margin-top: -15px;
    margin-left:-10%;
    margin-right: 10%;
    height:10px;
    animation: slideInRight 1.3s ease-in-out;
}


h1{
    color:#000000;
    font-size: 60px;
    font-family: Verdana, sans-serif;
    font-weight: 500;
    text-align: center;
    height:50px;

}
    
p{
    color:#7dc9d7;
    font-size: 38px;
    font-weight: 400;
    font-family:'Raleway',sans-serif;
    text-align: center;
}

h2{
    color:#000000;
    font-size: 25px;
    font-weight: 350;
    font-family:'Raleway', sans-serif;
    text-align: right;

}

a{
    color: #B5B5B5;
    font-family:'Raleway', sans-serif;
    text-align: center;
    font-weight: 350;
    font-size:20px;
    text-decoration: none;
    padding-left: 35px;
    padding-right: 35px;
  
}
h4{
    color:#000000;
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
    font-weight:550;
}

h5{
    color:#000000;
    font-size: 20px;
    font-weight: 30;
    font-family:'Avenir Light', sans-serif;
    line-height: 1.7em;
    margin-top: -5%;
    margin-left: 1%;
}



*, body {
    overflow-x: hidden;

}
