/*slide-in animation*/
@keyframes slideInRight {
    from{
        transform: translateX(-50%);   
    }
    to{
        transform: translateX(0%);
    }  
}

@keyframes slideInLeft {
    from{
        transform: translateX(110%);   
    }
    to{
        transform: translateX(0%);
    }  
}

/* fade animation */
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}


.container{
    margin-left: 0%;
    margin-right: 0%;
    height: 175px;

}

.logo{
    padding-top: 0px;
    padding-bottom: 0px;
    margin-left: 0%;
    margin-top: 1%;
    
}

.menu{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: -5%;
    padding-top:5px;
    background-color: white;
    text-align: center;    
    
}


.box1{
    padding-top: 80px;
    margin-left: 15%;
    margin-right: 15%;
    /* line height */
    line-height: 3em;
}

.calculate{
    margin-left:0%;
    margin-right: 0%;
    margin-top:5%;
    height:500px;

}

.calc_img{
    max-width: 30%;
    max-height:30%;
    margin-left:60%;
    margin-right: 15%;
    margin-top: 10%;
    filter: drop-shadow(20px 20px 20px rgb(162, 162, 162));
    float:right;
}
.calc_txt{
    margin-left:3%;
    margin-right:80%;
    margin-top: 0%;
    float:left;
}

.name{
    margin-left: 0px;
    margin-right: 850px;
    margin-top: 160px;
    text-align: left;
    /* fade animation */
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;

}

.lines{
    padding-top: 70px;
    margin-left: 40%;
    margin-right: -10%;
    align-content: right;
    animation: slideInLeft 1.3s ease-in-out;

}


/* left line */
header{
    margin-top: -15px;
    margin-left:-10%;
    margin-right: 10%;
    height:10px;
    animation: slideInRight 1.3s ease-in-out;
}


h1{
    color:#000000;
    font-size: 60px;
    font-family: Verdana, sans-serif;
    font-weight: 500;
    text-align: center;
}
    
p{
    color:#7dc9d7;
    font-size: 38px;
    font-weight: 400;
    font-family:'Raleway',sans-serif;
    text-align: center;
}

h2{
    color:#000000;
    font-size: 25px;
    font-weight: 350;
    font-family:'Raleway', sans-serif;
    text-align: right;

}


a{
    color: #B5B5B5;
    font-family:'Raleway', sans-serif;
    text-align: center;
    font-weight: 350;
    font-size:20px;
    text-decoration: none;
    padding-left: 35px;
    padding-right: 35px;
  
}
h3{
    color:#000000;
    font-size: 60px;
    font-family: Verdana, sans-serif;
    font-weight: 500;
    text-align: left;
}





